@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.chatbot {
  width: 400px;
  height: 600px;
  background-color: $white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  overflow-y: auto;
  @include scrollbar;
  @include mq($xlg) {
    width: 350px;
    height: 400px;
  }
  @include mq($lg) {
    width: 300px;
    padding: 15px;
  }
  @include mq($md) {
    margin-top: 0;
    width: 300px;
    height: 300px;
  }
  @include mq($xls) {
    width: 200px;
    height: 300px;
  }
  @include mq($sm) {
    width: 90%;
    padding: 10px;
    aspect-ratio: 16/9;
    height: auto;
  }
}
