@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.WaterWave {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: transparent;
  .container {
    background-color: transparent;
    gap: 50px;
    h1 {
      @include h3;
    }
    @include mq($lg) {
      gap: 30px;
    }
    @include mq($md) {
      flex-direction: column;
    }
  }
}
