@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.WaterWave {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: transparent;
  .container {
    flex-direction: column;
    h1 {
      @include h1;
    }
  }
}
